@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ff-headings: 'Poppins', sans-serif;
    --ff-body: 'Open Sans', sans-serif;
}

body {
    background-color: white;
}

.nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-inline: 80px;
    padding: 25px 0px;
    align-items: center;
}

.nav img {
    width: 200px;
    height: 31px;
}

.nav button {
    font-family: var(--ff-body);
    font-size: 14;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    color: black;
    border-radius: 20px;
    width: 10%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hero {
    display: flex;
    align-items: center;
    margin-inline: 80px;
}

.hero__bg {
    background-image: url(./images/bg-hero-desktop.svg);
    object-fit: cover;
    width: 100%;
    height: 741px;
}

.hero__text {
    margin-right: 80px;
}

.hero__text h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.4;
    font-family: var(--ff-headings);
    margin-bottom: 32px;
}

.hero__text p {
    font-weight: 400;
    font-size: 18px;
    font-family: var(--ff-body);
    margin-bottom: 32px;
}

.hero__image img {
    width: 680px;
    height: 482px;
    object-fit: contain;
}

.hero__btn {
    font-family: var(--ff-body);
    font-weight: 700;
    font-size: 14px;
    background-color: #FF52C1;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 12px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.together {
    margin-inline: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.together h3 {
    margin-left: 90px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 28px;
    font-weight: 600;
    font-family: var(--ff-headings);
}

.together p {
    margin-left: 90px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ff-body);
    color: #808E9A;
}

.together img {
    width: 440px;
    height: 440px;
    object-fit: contain;
    margin-right: 90px;
}

.conversation {
    margin-inline: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.conversation h3 {
    margin-right: 90px;
    padding-inline: 100px;
    font-size: 28px;
    font-weight: 600;
    font-family: var(--ff-headings);
}

.conversation p {
    margin-right: 90px;
    padding-left: 90px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ff-body);
    color: #808E9A;
}

.conversation img {
    width: 440px;
    height: 440px;
    object-fit: contain;
    margin-left: 90px;
}

.user {
    margin-inline: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.user h3 {
    margin-left: 90px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 28px;
    font-weight: 600;
    font-family: var(--ff-headings);
}

.user p {
    margin-left: 90px;
    padding-right: 90px;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ff-body);
    color: #808E9A;
}

.user img {
    width: 440px;
    height: 440px;
    object-fit: contain;
    margin-right: 90px;
}

.cta {
    display: flex;
    flex-direction: column;
    margin-inline: 350px;
    margin-top: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 50px;
    position: relative;
    bottom: -100px;
    z-index: 1000;
    background-color: white;
    border-radius: 16px;
}

.cta h3 {
    font-size: 32px;
    font-family: var(--ff-headings);
    font-weight: 600;
    padding: 32px;
}

.cta__btn {
    font-family: var(--ff-body);
    font-weight: 700;
    font-size: 14px;
    background-color: #FF52C1;
    outline: none;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 12px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #00252E;
    color: #fff;
    width: 100vw;
}

.footer__wrapper {
    margin-inline: 80px;
    padding-top: 144px;
    padding-bottom: 64px;
    align-items: start;
    justify-content: space-between;
}

.footer__wrapper img {
    width: 152px;
    height: 24px;
    margin-bottom: 32px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
}

.brand__info {
    width: 40%;
    padding-right: 130px;
    display: flex;
}

.brand__info i {
    padding-right: 27px
}

.brand__info span {
    display: flex;
}

.phone {
    text-align: left;
    padding-left: 0 16px;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.brand__info li {
    list-style-type: none;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.company__info {
    width: 24%;
}

.company__info li {
    list-style-type: none;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.company__info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.other__info {
    width: 24%;
}

.other__info li {
    list-style-type: none;
    font-family: var(--ff-body);
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 16px;
}

.other__info a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.social__icons {
    width: 10%;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.social__icons a {
    color: #fff;
}

.bi-facebook {
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

.bi-facebook:hover {
    color: #FF52C1;
    transition-delay: .1s;
    border: 1px solid #FF52C1;
    transition-timing-function: ease-in-out;
}

.bi-twitter {
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

.bi-twitter:hover {
    color: #FF52C1;
    transition-delay: .1s;
    border: 1px solid #FF52C1;
    transition-timing-function: ease-in-out;
}


.bi-instagram {
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
}

.bi-instagram:hover {
    color: #FF52C1;
    transition-delay: .1s;
    border: 1px solid #FF52C1;
    transition-timing-function: ease-in-out;
}

@media only screen and (min-width: 375px) and (max-width: 600px) {

    .nav {
        margin-inline: 16px;
    }

    .nav img {
        width: 106px;
        height: 16px;
    }

    .nav button {
        font-size: 10;
        width: 30%;
        padding: 6px;
    }

    .hero {
        flex-direction: column;
        margin-inline: 0px;
    }

    .hero__text {
        margin-inline: 40px;
    }

    .hero__text h1 {
        font-size: 24px;
        text-align: center;
    }

    .hero__text p {
        font-size: 16px;
        text-align: center;
    }

    .hero__image img {
        width: 296px;
        height: 209px;
        margin: 32px;
    }

    .hero__btn {
        width: 70%;
        margin-inline: 32px;
    }

    .together {
        margin-inline: 20px;
        flex-direction: column-reverse;
    }

    .together h3 {
        margin-inline: 20px;
        padding: 20px 16px;
        font-size: 20px;
        text-align: center;
    }

    .together p {
        margin-inline: 20px;
        margin-bottom: 33px;
        text-align: center;
        padding-inline: 20px;
        font-size: 14px;
    }

    .together img {
        width: 256px;
        height: 256px;
        margin: 40px 24px;
    }

    .conversation {
        margin-inline: 20px;
        flex-direction: column;
    }

    .conversation h3 {
        margin-inline: 20px;
        padding: 20px 16px;
        font-size: 20px;
        text-align: center;
    }

    .conversation p {
        margin-inline: 20px;
        margin-bottom: 33px;
        text-align: center;
        padding-inline: 20px;
        font-size: 14px;
    }

    .conversation img {
        width: 256px;
        height: 256px;
        margin: 40px 24px;
    }

    .user {
        margin-inline: 20px;
        flex-direction: column-reverse;
    }

    .user h3 {
        margin-inline: 20px;
        padding: 20px 16px;
        font-size: 20px;
        text-align: center;
    }

    .user p {
        margin-inline: 20px;
        margin-bottom: 33px;
        text-align: center;
        padding-inline: 20px;
        font-size: 14px;
    }

    .user img {
        width: 256px;
        height: 256px;
        margin: 40px 24px;
    }

    .cta {
        margin-inline: 10px;
        margin-top: 41px;
        padding: 10px;
    }

    .cta h3 {
        font-size: 16px;
        margin-top: 41px;
    }

    .cta__btn {
        padding: 10px;
        width: 60%;
        margin-bottom: 30px;
    }

    .footer__wrapper {
        margin-inline: 16px;
    }

    .footer__wrapper img {
        width: 162px;
        height: 26px;
    }

    .footer__list {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .brand__info {
        width: 100%;
        padding-right: 16px;
        margin-bottom: 41px;
    }

    .brand__info i {
        font-size: 24px;
    }

    .brand__info li {
        margin-bottom: 24px;
    }

    .company__info li {
        margin-bottom: 24px;
    }

    .other__info li {
        margin-bottom: 24px;
    }

    .social__icons {
        width: 60%;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
    }

}